// Generato automaticamente da Matugen - NON MODIFICARE A MANO
$primary: #95d5a7;
$on-primary: #00391d;
$primary-container: #10512e;
$on-primary-container: #b1f1c2;

$secondary: #b6ccb9;
$on-secondary: #223527;

$background: #101510;
$on-background: #dfe4dd;

$surface: #1c211c;
$surface-bright: #262b27;
$on-surface: #dfe4dd;
$on-surface-variant: #c0c9bf;

$outline: #8b938a;
$error: #ffb4ab;
